@media(prefers-color-scheme:dark){
    :root{
        --first-color:#151437;
        --second-color:#fff;
    }
}
@media(max-width:500px){
    .btn{
        margin-left: 105px;
    }
}
@media(max-width:450px){
    .btn{
        margin-left: 85px;
    }
}
@media(max-width:425px){
    .btn{
        margin-left: 65px;
    }
}
@media(max-width:390px){
    .btn{
        margin-left: 45px;
    }
    .header{
    display: flex;
    align-items: center;
    justify-content: center;
    }
}